[package]
name = "memd"
version = "0.1.0"
authors = ["The ChromiumOS Authors"]
build = "build.rs"
include = ["Cargo.toml", "*.rs", "src/**/*"]

[dependencies]
chrono = "0.4.2"
dbus = "0.6.1"
env_logger = { version = "0.9", default-features = false }
libc = "0.2.40"
libchromeos = { path = "../../libchromeos-rs" } # provided by ebuild
log = "0.4.1"
protobuf = "3.2"
syslog = "6.0.1"
tempfile = "3.0"
time = "0.3"

[profile.release]
debug = true
lto = true
panic = 'abort'

[build-dependencies]
protobuf-codegen = "3.2"

[workspace]
