# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add", KERNEL=="i2c-GOOG0020:00", \
    RUN{program}+="/lib/udev/hps-dev.sh %p", \
    RUN{program}+="/sbin/initctl start --no-wait hpsd"
