/*
 * Copyright 2024 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  /* Use dark theme to reduce the power impact of screen brightness. */
  color-scheme: only dark;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 320px;
  height: 100vh;
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100vh;
}

#side-panel {
  padding: 8px;
}
