type cros_missived, domain, chromeos_domain;
permissive cros_missived;
domain_auto_trans({cros_init cros_init_scripts minijail}, cros_missived_exec, cros_missived);