type cros_runtime_probe, domain, chromeos_domain;

permissive cros_runtime_probe;

domain_auto_trans({
  cros_agetty
  cros_init
  cros_ssh_session
  minijail}, cros_runtime_probe_exec, cros_runtime_probe)

domain_auto_trans({
  cros_agetty
  cros_init
  cros_ssh_session},
  cros_factory_runtime_probe_exec, cros_runtime_probe)
