type cros_cr50_disable_sleep, chromeos_domain, domain, cros_init_scripts_domain;

permissive cros_cr50_disable_sleep;

domain_auto_trans({
  cros_init
  cros_init_scripts }, cros_cr50_disable_sleep_exec, cros_cr50_disable_sleep)
