# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# You must directly open the biod directory in VS Code for this Python
# configuration to automatically take effect. It will not take effect
# if you open a parent directory or the study child directory.

[tool.pyright]
# https://github.com/microsoft/pyright/blob/main/docs/configuration.md
include = ["study", "study/analysis-tool"]
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.8"
pythonPlatform = "Linux"
typeCheckingMode = "strict"
# Please run ./study/python-venv-setup.sh to create this virtual environment.
venvPath = "study"
venv = ".venv"
verboseOutput = true

[tool.black]
# Copied from ~/chromiumos/chromite/pyproject.toml, since we can't include that
# config file from within our own.
line-length = 80
target-version = ['py38']
