set noparent
# Disable cpplint for FORTIFY tests. While it correctly flags bad constructs &
# misuses of stdlib functions, those are intentional. Adding tons of NOLINT
# doesn't add value.
exclude_files=clang-fortify-tests.cpp
