{#
Copyright 2022 The Chromium OS Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
#}

{%-
set glossary = [
    ('FAR', 'False Acceptance Rate'),
    ('FRR', 'False Rejection Rate'),
    ('FA', 'False Accept'),
    ('FR', 'False Reject'),
]
-%}
