# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
openat: 1
newfstatat: 1
close: 1
rt_sigaction: 1
read: 1
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
fstatfs: 1
gettid: 1
readlink: 1
mkdir: 1
write: 1
sendto: 1
lseek: 1
epoll_wait: 1
recvmsg: 1
access: 1
getrandom: arg2 in ~GRND_RANDOM
brk: 1
pread64: 1
statfs: 1
futex: 1
getpid: 1
chown: 1
epoll_ctl: 1
fcntl: 1
unshare: 1
geteuid: 1
getuid: 1
getegid: 1
getgid: 1
mknodat: 1
symlinkat: 1
pipe2: 1
rt_sigprocmask: 1
umount2: 1
flock: 1
set_robust_list: 1
wait4: 1
# Allow system logging and communication over the network.
socket: arg0 == AF_INET6 || arg0 == AF_UNIX || arg0 == AF_INET
exit_group: 1
arch_prctl: 1
set_tid_address: 1
rseq: 1
prlimit64: 1
munmap: 1
umask: 1
chdir: 1
fchdir: 1
uname: 1
connect: 1
getdents64: 1
setpgid: 1
setsid: 1
rt_sigtimedwait: 1
mkdirat: 1
rmdir: 1
pivot_root: 1
chroot: 1
setgroups: 1
setresgid: 1
setresuid: 1
epoll_create1: 1
memfd_create: 1
eventfd2: 1
fdatasync: 1
rename: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
poll: 1
getsockname: 1
getpeername: 1
sysinfo: 1
socketpair: 1
setsockopt: 1
getsockopt: 1
recvfrom: 1
unlinkat: 1
