# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# TODO(b/319265940): remove this file once this subdir is formatted.
BasedOnStyle: InheritParentConfig
InsertBraces: false
