[package]
name = "uwbd"
version = "0.0.1"
authors = ["The Chromium OS Authors"]
edition = "2018"

[lib]
name = "uwbd"
path = "src/lib.rs"

[[bin]]
name = "uwbd"
path = "src/main.rs"

[[bin]]
name = "uwbd_client"
path = "src/bin/uwbd_client.rs"

[build-dependencies]
bindgen = "0.59"
cc = "1.0.25"
chromeos-dbus-bindings = { path = "../chromeos-dbus-bindings"} # provided by ebuild
pkg-config = "0.3.26"
protoc-rust = "2.24.1"

[dependencies]
async-trait = "0.1.32"
dbus = "0.9.3"
dbus-crossroads = "0.5.0"
futures = "0.3.13"
libchromeos = { path = "../libchromeos-rs" } # provided by ebuild
log = "0.4.14"
protobuf = "2.24.1"
syslog = "6.0.1"
tokio = { version = "1.14.0", features = ["sync"] }
uwb_core = { path = "../../aosp/external/uwb/local/src/rust/uwb_core", features=["proto"] } # provided by ebuild
