# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
# Copyright (C) 2021 The Android Open Source Project

brk: 1
clock_nanosleep: 1
close: 1
exit: 1
exit_group: 1
faccessat: 1
fstat: 1
fstatfs: 1
# ioctl values:
#   0xc05064a7 == DRM_IOCTL_MODE_GETCONNECTOR
#   0xc01064ac == DRM_IOCTL_MODE_GETPROPBLOB
#   0xc02064b6 == DRM_IOCTL_MODE_GETPLANE
#   0x4010640d == DRM_IOCTL_SET_CLIENT_CAP
#   0xc06864a1 == DRM_IOCTL_MODE_GETCRTC
#   0xc04064a0 == DRM_IOCTL_MODE_GETRESOURCES
#   0xc0406400 == DRM_IOCTL_VERSION
#   0xc01064b5 == DRM_IOCTL_MODE_GETPLANERESOURCES
#   0xc0106401 == DRM_IOCTL_GET_UNIQUE
#   0xc02064b9 == DRM_IOCTL_MODE_OBJ_GETPROPERTIES
#   0xc01464a6 == DRM_IOCTL_MODE_GETENCODER
#   0xc04064aa == DRM_IOCTL_MODE_GETPROPERTY
ioctl: arg1 == 0xc05064a7 || arg1 == 0xc01064ac || arg1 == 0xc02064b6 || \
       arg1 == 0x4010640d || arg1 == 0xc06864a1 || arg1 == 0xc04064a0 || \
       arg1 == 0xc0406400 || arg1 == 0xc01064b5 || arg1 == 0xc0106401 || \
       arg1 == 0xc02064b9 || arg1 == 0xc01464a6 || arg1 == 0xc04064aa
mmap: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
mprotect: arg2 in ~PROT_EXEC || arg2 in ~PROT_WRITE
munmap: 1
newfstatat: 1
openat: 1
prlimit64: 1
read: 1
restart_syscall: 1
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
set_robust_list: 1
set_tid_address: 1
write: 1
