# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# The following requirements were generated using the following steps
# on May 18, 2024:
#
# $ python3 -m venv .venv
# $ . .venv/bin/activate
# $ pip install pandas numpy matplotlib scipy tqdm ipykernel ipympl
# $ pip install 'plotly>=5.8.0' kaleido nbformat
# $ pip install djlint
# $ pip install jinja2 requests
# $ pip3 freeze
# Remove indirect packages.

djlint==1.34.1
ipykernel==6.29.4
ipympl==0.9.4
ipython==8.24.0
Jinja2==3.1.4
kaleido==0.2.1
matplotlib==3.8.4
nbformat==5.10.4
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
requests==2.31.0
scipy==1.13.0
tqdm==4.66.4
