% minijail-config-file v0

profile=minimalistic-mountns

# enable VFS/mount namespace
ns-mount

# for logging
bind-mount=/dev/log

# mount tmpfs on /run to allow for subsequent bind mounts
mount=tmpfs,/run,tmpfs,MS_NODEV|MS_NOEXEC|MS_NOSUID,mode=755,size=10M
# for communication over dbus
bind-mount=/run/dbus
# for receiving udev events
bind-mount=/run/udev

# mount tmpfs on /sys to allow for subsequent bind mounts
mount=tmpfs,/sys,tmpfs,MS_NODEV|MS_NOEXEC|MS_NOSUID,mode=755,size=10M
# /sys/devices  : needed because devices under /sys/bus/pci/devices
#                 are symlinks to here.
bind-mount=/sys/devices,,1
# /sys/bus/pci  : to manage the allowlist and the devices
bind-mount=/sys/bus/pci,,1
# /sys/bus/thunderbolt: to auth / deauth thunderbolt devices
bind-mount=/sys/bus/thunderbolt/devices,,1

# /usr/lib64    : to link with shared libraries
bind-mount=/usr/lib64
# /usr/sbin/pciguard: to access the daemon's binary
bind-mount=/usr/sbin/pciguard

