[package]
name = "chromeos-installer"
version = "0.1.0"
authors = ["The ChromiumOS Authors"]
edition = "2021"
include = [
    "src/*.rs",
]

[dependencies]
libchromeos = { path = "../libchromeos-rs" } # provided by ebuild
nix = { version = "0.28.0", features = ["user"]}

[[bin]]
name = "chromeos-install"
path = "src/bin/chromeos_install.rs"
